/*main*/

.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem var(--gap);
}

.main-bg{
    background-image: url('../img/hollowed-boxes.svg');
    background-size: contain;
    color: var(--white-color);
}

.white-bg{
    background: var(--white-color);
    color: var(--primary-color);
}

/*seções*/

.section{
    min-height: 100vh;
}

.menu-space{
    height: 6.5rem;
}

body .full-width{
    width: 100%;
    flex: 1 1 100%;
}